---
import Layout from "../layouts/Layout.astro";
import Nav from "@/components/NavDashboard.astro";
import Upload from "@/components/upload";
---

<Layout title="Lenso - Your Files, Found Through Conversation">
  <Nav />
  <main class="bg-gray-50 min-h-screen">
    <Upload client:load />
  </main>
</Layout>
