---
import Layout from "../layouts/Layout.astro";
import Nav from "@/components/NavDashboard.astro";
import Upload from "@/components/upload";

export const prerender = false;
---

<Layout title="Lenso - Your Files, Found Through Conversation">
  <main class="h-screen flex flex-col">
    <Nav />
    <Upload client:load />
  </main>
</Layout>
