---
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";
---

<section x-data="{ mobileNavOpen: false }">
  <nav class="py-5 bg-darkPink-900">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between">
        <a class="text-white text-sm font-bold" href="#"> Lenso </a>
        <div
          class="hidden lg:flex gap-2 p-1 rounded-full bg-white bg-opacity-10"
        >
          <a
            href="#"
            class="px-3 py-2 rounded-full text-white text-sm hover:bg-white hover:bg-opacity-20 transition duration-200"
            >Home</a
          ><a
            href="#"
            class="px-3 py-2 rounded-full text-white text-sm hover:bg-white hover:bg-opacity-20 transition duration-200"
            >Features</a
          ><a
            href="#"
            class="px-3 py-2 rounded-full text-white text-sm hover:bg-white hover:bg-opacity-20 transition duration-200"
            >Pricing</a
          ><a
            href="#"
            class="px-3 py-2 rounded-full text-white text-sm hover:bg-white hover:bg-opacity-20 transition duration-200"
            >About</a
          ><a
            href="#"
            class="px-3 py-2 rounded-full text-white text-sm hover:bg-white hover:bg-opacity-20 transition duration-200"
            >Contact</a
          >
        </div>
        <a
          href="#"
          class="hidden lg:flex items-center gap-2 text-white hover:text-pink-500 transition duration-200"
        >
          <SignedOut>
            <SignInButton mode="modal" />
          </SignedOut>
          <SignedIn>
            <UserButton />
          </SignedIn>
        </a>
        <button class="lg:hidden" x-on:click="mobileNavOpen = !mobileNavOpen">
          <svg
            width="51"
            height="51"
            viewBox="0 0 56 56"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="56" height="56" rx="28" fill="white"></rect>
            <path
              d="M37 32H19M37 24H19"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
    </div>
  </nav>
  <div
    :class="{ 'hidden': !mobileNavOpen, 'block': mobileNavOpen }"
    class="hidden fixed top-0 left-0 bottom-0 w-5/6 max-w-xs z-[100]"
  >
    <div
      x-on:click="mobileNavOpen = !mobileNavOpen"
      class="fixed inset-0 bg-black opacity-20"
    >
    </div>
    <nav class="relative p-8 w-full h-full bg-white overflow-y-auto">
      <div class="flex items-center justify-between">
        <a href="#" class="inline-block">
          <img src="vista-assets/images/logos/vista-logo-dark.svg" alt="" />
        </a>
        <button x-on:click="mobileNavOpen = !mobileNavOpen">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 18L18 6M6 6L18 18"
              stroke="#111827"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
      <ul class="flex flex-col gap-12 py-12 my-12">
        <li><a href="#" class="text-sm font-medium">Home</a></li>
        <li><a href="#" class="text-sm font-medium">Features</a></li>
        <li><a href="#" class="text-sm font-medium">Pricing</a></li>
        <li><a href="#" class="text-sm font-medium">About</a></li>
        <li><a href="#" class="text-sm font-medium">Contact</a></li>
      </ul>
      <div class="text-center">
        <a
          href="#"
          class="inline-flex items-center gap-2 text-black hover:text-opacity-80 transition duration-200"
        >
          <SignedOut>
            <SignInButton mode="modal" />
          </SignedOut>
          <SignedIn>
            <UserButton />
          </SignedIn>
        </a>
      </div>
    </nav>
  </div>
</section>
